extends template.pug
block content
  #content
    h1#choose-text(style='padding-bottom: 0px; margin-bottom: 0px;')= choose
    h2#username-text(style='padding-left: 25vw; padding-top: 0px; margin-top: 0px; margin-bottom: 0px;')= username
    p.errorMessage
    input#username(type='text', name='username', autocomplete="off", maxlength='15', pattern=".{3,15}", title="3 to 15 characters", required)
    br
    #div-start(style='padding-left: 10vw; height: 1.5em;')
      button#start(type='button')= start
  script(src='/assets/js/default.js')  
