table
  tr
    td
      include roles/doppelganger.pug
    td
      include roles/werewolf.pug
    td
      include roles/werewolf.pug
    td
      include roles/minion.pug
    tr
      td
        include roles/mason.pug
      td
        include roles/mason.pug
      td
        include roles/seer.pug
      td
        include roles/robber.pug
    tr
      td
        include roles/troublemaker.pug
      td
        include roles/villager.pug
      td
        include roles/villager.pug
      td
        include roles/villager.pug
    tr
      td
        include roles/tanner.pug
      td
        include roles/insomniac.pug
      td
        include roles/hunter.pug
      td
        include roles/drunk.pug
