table
  tr
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
  tr
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
  tr
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
  tr
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
    td
      include role.pug
