table
  - var roles= rolesList
  -
    var rows = [];
    for (var i = 0; i < rolesList.length; i+=4) {
      rows.push(roles.slice(i, i + 4));
    }
  each row in rows
    tr
    each role in row
      - var imageAttrs = {}
      - var opacity = role.clicked ? 1 : 0.5 ;
      - imageAttrs.style = 'opacity: ' + opacity + ';'
      td
        img.role-image(id='' + role.id, src="../assets/images/roles/" + role.id + ".png", alt="Role", onclick='toogleRoleImage(this);')&attributes(imageAttrs)
